@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "arcade";
  src: url("/fonts/JMH Cthulhumbus Arcade.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
